@import url('https://fonts.googleapis.com/css2?family=Onest:wght@300&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Onest;
    padding: 10px;
    
}

nav {
    text-align: center;
    font-size: 40px;
    padding: 10px 0;
}

header {
    padding: 40px 60px;
}

.card1 {
    width: 230px;
    padding: 10px;
    display: inline-block;
}
.flag-img{
    width: 200px;
    height: 170px;
}
.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
p{
    margin-bottom: 2px;
}
.bolder-text{
    font-weight: 600;
}

.form-control{
    width: 270px;
    margin-top: 20px;
}